In [44]:
import pandas as pd

pos_tweets = [('I love this car', 'positive'),
              ('This view is amazing', 'positive'),
              ('I feel great this morning', 'positive'),
              ('I am so excited about the concert', 'positive'),
              ('He is my best friend', 'positive')]

test = pd.DataFrame(pos_tweets)


test = pd.DataFrame(pos_tweets)
test.columns = ["tweet","class"]

test["tweet"] = test["tweet"].str.lower().str.split()

In [46]:
test

from nltk.corpus import stopwords
stop = stopwords.words('english')

test['tweet'] = test['tweet'].apply(lambda x: [item for item in x if item not in stop])

In [47]:
test['tweet'] = test['tweet'].apply(lambda y: ' '.join([x for x in y]))

In [48]:
test

                tweet     class
0            love car  positive
1        view amazing  positive
2  feel great morning  positive
3     excited concert  positive
4         best friend  positive