In [1]:
import pandas as pd
import nltk

data = pd.read_csv("C:\\MyWork\\MyLearning\\ML\\Files\\DataSet\\WordEmbeddingtrain.csv").sample(100, random_state=23)

In [2]:
data.shape

(100, 6)

In [3]:
data.head()

,id,qid1,qid2,question1,question2,is_duplicate
237921,237921,9732,79801,Is sex necessary in a relationship?,Why is sex important in a good relationship?,1
181001,181001,277377,277378,What are the most inspiring start up stories?,What are the most inspirational stories ever?,0
294691,294691,150129,93109,What is your best way to do digital marketing?,What are the best unique ways to do Digital Ma...,1
104145,104145,171986,171987,What is the best way to grow a Facebook fan page?,How do I get more followers on my Facebook page?,1
357893,357893,487310,487311,Suppose Host A sends two TCP segments back to ...,Suppose Host A sends two TCP segments back to ...,1

In [4]:
STOP_Words = nltk.corpus.stopwords.words()

In [5]:
import re

def clean_sentence(val):
    regex = re.compile('([^\s\w]|_)+')
    sentence = regex.sub('', val).lower()
    sentence = sentence.split(" ")
    
    for word in list(sentence):
        if word in STOP_Words:
            sentence.remove(word) 
            
    sentence = " ".join(sentence)
    
    return sentence

In [6]:
def clean_dataframe(data):
    data = data.dropna(how="any")
    
    for col in ['question1','question2']:
        data[col] = data[col].apply(clean_sentence)
        
    return data

In [7]:
data = clean_dataframe(data)

In [8]:
data.head()

,id,qid1,qid2,question1,question2,is_duplicate
237921,237921,9732,79801,sex necessary relationship,sex important good relationship,1
181001,181001,277377,277378,inspiring start stories,inspirational stories ever,0
294691,294691,150129,93109,best way digital marketing,best unique ways digital marketing,1
104145,104145,171986,171987,best way grow facebook fan page,get followers facebook page,1
357893,357893,487310,487311,suppose host sends two tcp segments back back ...,suppose host sends two tcp segments back back ...,1