In [141]:
raw_docs = ["Here are some very simple basic sentences.",
            "They won't be very interesting, I'm afraid.",
            "The point of these examples is to _learn how basic text cleaning works_ on *very simple* data."]

In [142]:
import pandas as pd

df = pd.DataFrame(raw_docs,columns=['Text'])

In [143]:
df['Text_Cleaned'] = df['Text'].str.lower()

In [144]:
df['Text_Cleaned'] = df['Text_Cleaned'].str.replace("I'm",'I am') # Contraction Conversion

df['Text_Cleaned'] = df['Text_Cleaned'].str.replace("won't",'will not') # Contraction Conversion

df['Text_Cleaned'] = df['Text_Cleaned'].str.replace("[^A-Za-z0-9]",' ')

df

,Text,Text_Cleaned
0,Here are some very simple basic sentences.,here are some very simple basic sentences
1,"They won't be very interesting, I'm afraid.",they will not be very interesting i m afraid
2,The point of these examples is to _learn how b...,the point of these examples is to learn how b...

In [145]:
df['Text_Cleaned'] =  df["Text_Cleaned"].str.split()

df['Text_Cleaned']

0    [here, are, some, very, simple, basic, sentences]
1    [they, will, not, be, very, interesting, i, m,...
2    [the, point, of, these, examples, is, to, lear...
Name: Text_Cleaned, dtype: object

In [146]:
from nltk.corpus import stopwords

stopwrd = stopwords.words('english')

df['Text_Cleaned'] = df['Text_Cleaned'].apply(lambda y:[x for x in y if x not in stopwrd])

df['Text_Cleaned']

0                           [simple, basic, sentences]
1                                [interesting, afraid]
2    [point, examples, learn, basic, text, cleaning...
Name: Text_Cleaned, dtype: object

In [147]:
# Join the list Words

df['Text_Cleaned'] = df['Text_Cleaned'].apply(lambda y: ' '.join([x for x in y]))

df

,Text,Text_Cleaned
0,Here are some very simple basic sentences.,simple basic sentences
1,"They won't be very interesting, I'm afraid.",interesting afraid
2,The point of these examples is to _learn how b...,point examples learn basic text cleaning works...