In [1]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd
#texts = ["Chennai Super Kings won the final 2018 IPL"
#        "Chennai Super Kings Crowned IPL 2018 Champions",
#        "Chennai super kings returns"]

texts = ["earth is the third planet from the sun",
         "Jupiter is the largest"]

tfidf = TfidfVectorizer()
features = tfidf.fit_transform(texts)
pd.DataFrame(features.todense(),columns = tfidf.get_feature_names())

# Calculate TF-idf Manually
# Consider a document containing 100 words wherein the word 'Cauvery' appears 3 times.
# The term frequency (tf) for 'Cauvery' is then TF = (3 / 100) = 0.03.
# Now, assume we have 10 million documents and the word 'Cauvery' appears in 1000 of these. Then, 
# the inverse document frequency (idf) is calculated as IDF = log(10,000,000 / 1,000) = 4.
# Thus, the Tf-idf weight is the product of these quantities TF-IDF = 0.03 * 4 = 0.12.

,earth,from,is,jupiter,largest,planet,sun,the,third
0,0.364391,0.364391,0.259267,0.000000,0.000000,0.364391,0.364391,0.518534,0.364391
1,0.000000,0.000000,0.409937,0.576152,0.576152,0.000000,0.000000,0.409937,0.000000